@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background-color: #313131;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: "Jost", sans-serif;
}