.container {
  min-height: 58px;
  display: flex;
  justify-content: center;
}

.font {
  font-family: "Dosis", sans-serif;
  font-size: 50px;
}

.hidden {
  visibility: hidden;
}

/* Highlight for O */

.sign {
  font-family: "Clip";
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fastFlicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

/* Highlight for X */

.signX {
  font-family: "Clip";
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65b5ff,
    -0.2rem 0.1rem 1rem #6596ff, 0.2rem 0.1rem 1rem #657cff,
    0 -0.5rem 2rem #2457ff, 0 0.5rem 3rem #4524ff;
  animation: shineX 2s forwards, flicker 3s infinite;
}

@keyframes blinkX {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65b5ff,
      -0.2rem 0.1rem 1rem #65adff, 0.2rem 0.1rem 1rem #656fff,
      0 -0.5rem 2rem #2471ff, 0 0.5rem 3rem #243aff;
  }
  28%,
  33% {
    color: #6596ff;
    text-shadow: none;
  }
  82%,
  97% {
    color: #2457ff;
    text-shadow: none;
  }
}

.flickerX {
  animation: shineX 2s forwards, blinkX 3s 2s infinite;
}

.fastFlickerX {
  animation: shineX 2s forwards, blinkX 10s 1s infinite;
}

@keyframes shineX {
  0% {
    color: #0f3f7e;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65a3ff,
      -0.2rem 0.1rem 1rem #659bff, 0.2rem 0.1rem 1rem #6581ff,
      0 -0.5rem 2rem #243aff, 0 0.5rem 3rem #3a24ff;
  }
}

/* Highlight for Draw */

.signD {
  font-family: "Clip";
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #dfdfdf,
    -0.2rem 0.1rem 1rem #bebebe, 0.2rem 0.1rem 1rem #979797,
    0 -0.5rem 2rem #777777, 0 0.5rem 3rem #585858;
  animation: shineD 2s forwards, flicker 3s infinite;
}

@keyframes blinkD {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #dbdbdb,
      -0.2rem 0.1rem 1rem #c7c7c7, 0.2rem 0.1rem 1rem #a0a0a0,
      0 -0.5rem 2rem #8b8b8b, 0 0.5rem 3rem #696969;
  }
  28%,
  33% {
    color: #747474;
    text-shadow: none;
  }
  82%,
  97% {
    color: #646464;
    text-shadow: none;
  }
}

.flickerD {
  animation: shineD 2s forwards, blinkD 3s 2s infinite;
}

.fastFlickerD {
  animation: shineD 2s forwards, blinkD 10s 1s infinite;
}

@keyframes shineD {
  0% {
    color: #707070;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #bdbdbd,
      -0.2rem 0.1rem 1rem #a0a0a0, 0.2rem 0.1rem 1rem #797979,
      0 -0.5rem 2rem #575757, 0 0.5rem 3rem #505050;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
