/* General Properties */

.popupWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  text-align: center;
  padding: 0 30px 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2b2b2b;
}

.popupTitle {
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0 20px;
}

/* Waiting Modal */

.closeIcon {
  position: relative;
  bottom: 230px;
  left: 186px;
}

.bouncingLoader {
  display: flex;
  justify-content: center;
  margin: 90px 40px 20px 40px;
}

.bouncingLoader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncingLoader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/* Keyframes and Media */

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

@media screen and (max-width: 768px) {
  .popupWindow {
    width: 360px;
  }

  .bouncingLoader {
    margin: 40px 40px 0px 40px;
  }

  .closeIcon {
    bottom: 200px;
    left: 155px;
  }
}

