.container {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 5px;
  color: #fff;
}

.container h3 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 20px;
}

.turnBox {
  border: 3px solid #000;
  font-size: 1.7rem;
  font-weight: 700;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .turnBox:nth-child(even) {
  border-right: none;
}

.bg {
  position: relative;
  top: -40px;
  left: 0;
  width: 85px;
  height: 40px;
  z-index: -1;
  transition: 0.2s ease-in-out;
  background-color: #019afe;
}

.oTurn {
  left: 85px;
  background-color: rgb(254, 1, 154);
}
