.scale {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 2px solid #eee;
  background-color: #313131;
  font-size: 80px;
  cursor: pointer;
}

.o {
  color: rgb(254, 1, 154);
}

.x {
  color: rgb(1, 154, 254);
}
