.style {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 2px solid #eee;
  background-color: #313131;
  font-size: 80px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.style span {
  display: block;
  position: relative;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 8px solid transparent;
}

.X::after,
.X::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: rgb(1, 154, 254);
  border-radius: 5px;
}

.X::after {
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 1;
}

.O {
  border-color: rgb(254, 1, 154) !important;
}
